.idea/
*.iml

.settings/
*.classpath

.vscode/
*.project
*.factorypath

.vertx/
target/

.DS_Store

.allure/
/improvedigital-dev-tools/node_modules/
/improvedigital-config/local/
/.run/Application (Local).run.xml
