---
status-response: "ok"
adapters:
  amx:
    enabled: true
  appnexus:
    enabled: true
  connectad:
    enabled: true
  improvedigital:
    enabled: true
  ix:
    enabled: true
  onetag:
    enabled: true
  openx:
    enabled: true
  pubmatic:
    enabled: true
  smartadserver:
    enabled: true
  synacormedia:
    enabled: true
  triplelift:
    enabled: true
  yieldlab:
    enabled: true
currency-converter:
  external-rates:
    enabled: true
    url: https://cdn.jsdelivr.net/gh/prebid/currency-file@1/latest.json
    default-timeout-ms: 4000
    refresh-period-ms: 1800000
metrics:
  prometheus:
    port: 9112
  graphite:
    enabled: false
    host: carbon.{{ env_tag }}.iceberg.improve
    port: 2000
    prefix: prebid-server
    interval: 60
cache:
  scheme: https
  host: {{ pbc_url }}
  path: cache
  query: uuid=
  banner-ttl-seconds: 300
  video-ttl-seconds: 300
settings:
#  default-loading-timeout: 500 # optional long value in milliseconds, default value is 500 ms
  filesystem:
    settings-filename: config/azerion-settings.yaml
    custom-settings-filename: config/azerion-custom-settings.yaml
    stored-requests-dir: stored-data/requests
    stored-imps-dir: stored-data/imps
    stored-responses-dir: stored-data/responses
    categories-dir: stored-data/categories
gdpr:
  enabled: true
  default-value: 1
  host-vendor-id: 253
  vendorlist:
    v1:
      cache-dir: /var/tmp/vendor1
    v2:
      cache-dir: /var/tmp/vendor2
external-url: {{ external_url }}
google-ad-manager:
  network-code: 1015413

# Following section defines hooks to inject custom trackers in bid responses
# for /openrtb2/auction endpoint. Do not change this, if you don't know how
# hooks are implemented in PBS. As /gvast endpoint internally makes an auction
# using same code used for /openrtb2/auction handler, these hooks applies
# for /gvast endpoint as well.
# Another special note for hooks definition is hooks.host-execution-plan
# must be a valid JSON string with following structure. Converting it to
# standard YAML or breaking the JSON syntax will break the application
# bootstrapping logic and the server will not be started.
hooks:
  host-execution-plan: >
    {
      "endpoints": {
        "/openrtb2/auction": {
          "stages": {
            "entrypoint": {
              "groups": [
                {
                  "timeout": 5,
                  "hook-sequence": [
                    {
                      "module-code": "custom-tracker-module",
                      "hook-impl-code": "custom-tracker-entrypoint"
                    }
                  ]
                }
              ]
            },
            "processed-auction-request": {
              "groups": [
                {
                  "timeout": 5,
                  "hook-sequence": [
                    {
                      "module-code": "custom-tracker-module",
                      "hook-impl-code": "custom-tracker-processed-auction-request"
                    }
                  ]
                }
              ]
            },
            "processed-bidder-response": {
              "groups": [
                {
                  "timeout": 5,
                  "hook-sequence": [
                    {
                      "module-code": "custom-tracker-module",
                      "hook-impl-code": "custom-tracker-processed-bidder-response"
                    }
                  ]
                }
              ]
            }
          }
        }
      }
    }
