---
status-response: "ok"
adapters:
  adf:
    enabled: true
  adpone:
    enabled: true
  amx:
    enabled: true
  appnexus:
    enabled: true
  connectad:
    enabled: true
  criteo:
    enabled: true
  improvedigital:
    enabled: true
  ix:
    enabled: true
  onetag:
    enabled: true
  openx:
    enabled: true
  outbrain:
    enabled: true
    endpoint: https://b1h.zemanta.com/api/bidder/prebid/bid
    usersync:
{% raw %}
      url: https://b1h.zemanta.com/usersync/prebid?gdpr={{gdpr}}&gdpr_consent={{gdpr_consent}}&us_privacy={{us_privacy}}&cb=
{% endraw %}
  pubmatic:
    enabled: true
  rubicon:
    enabled: true
  sharethrough:
    enabled: true
  smartadserver:
    enabled: true
  smilewanted:
    enabled: true
  sovrn:
    enabled: true
  synacormedia:
    enabled: true
  triplelift:
    enabled: true
  unruly:
    enabled: true
  yahoossp:
    enabled: true
  yieldlab:
    enabled: true
admin-endpoints:
  credentials:
    improvedigitalpbs: WeL@vePreb1dServer!
  logging-httpinteraction:
    enabled: true
    path: /logging/httpinteraction
    on-application-port: false
    protected: true
  logging-changelevel:
    enabled: true
    path: /logging/changelevel
    on-application-port: false
    protected: true
auction:
  ad-server-currency: USD
  default-timeout-ms: 1000
  max-timeout-ms: 5000
  timeout-adjustment-ms: 30
  stored-requests-timeout-ms: 200
  cache:
    expected-request-time-ms: 25
    only-winning-bids: false
currency-converter:
  external-rates:
    enabled: true
    url: https://cdn.jsdelivr.net/gh/prebid/currency-file@1/latest.json
    default-timeout-ms: 4000
    refresh-period-ms: 1800000
metrics:
  metricType: counter
  accounts:
    default-verbosity: basic
    detailed-verbosity:
      - 545-dailymotion.com
      - 2018
  prometheus:
    enabled: true
    port: 9112
    namespace: prebid
    subsystem: server
  graphite:
    enabled: false
    host: carbon.{{ env_tag }}.iceberg.improve
    port: 2000
    prefix: prebid-server
    interval: 60
cache:
  scheme: https
  host: {{ regional_pbc_url }}
  path: cache
  query: uuid=
  banner-ttl-seconds: 300
  video-ttl-seconds: 900
default-request:
  file:
    path : stored-data/requests/default.json
settings:
  enforce-valid-account: true
#  default-loading-timeout: 500 # optional long value in milliseconds, default value is 500 ms
  filesystem:
    settings-filename: config/settings.yaml
    custom-settings-filename: config/custom-settings.yaml
    stored-requests-dir: stored-data/requests
    stored-imps-dir: stored-data/imps
    stored-responses-dir: stored-data/responses
    categories-dir: stored-data/categories
  in-memory-cache:
    cache-size: 10000
    ttl-seconds: 31536000 # 365 days in seconds
    notification-endpoints-enabled: false
    http-update:
      endpoint: https://api.headerlift.com/pbs/getconfig
      amp-endpoint: https://api.headerlift.com/pbs/getconfig?amp=true
      refresh-rate: 60000 # 1 minute in milliseconds
      timeout: 2000 # in milliseconds
gdpr:
  enabled: false
  default-value: 1
  host-vendor-id: 253
  vendorlist:
    v1:
      cache-dir: /var/tmp/vendor1
    v2:
      cache-dir: /var/tmp/vendor2
external-url: {{ external_url }}
google-ad-manager:
  network-code: 1015413

geolocation:
  enabled: true
  type: maxmind
  maxmind:
    remote-file-syncer:
      download-url: https://download.maxmind.com/app/geoip_download?edition_id=GeoLite2-City&license_key=6O2UlqKmfUcyXzGP&suffix=tar.gz
      save-filepath: /var/tmp/prebid/GeoLite2-City.tar.gz
      retry-count: 3
      retry-interval-ms: 3000
      timeout-ms: 300000
      update-interval-ms: 0
      http-client:
        connect-timeout-ms: 3000
        max-redirects: 3

# Following section defines hooks to inject custom trackers in bid responses
# for /openrtb2/auction endpoint. Do not change this, if you don't know how
# hooks are implemented in PBS. As /gvast endpoint internally makes an auction
# using same code used for /openrtb2/auction handler, these hooks applies
# for /gvast endpoint as well.
# Another special note for hooks definition is hooks.host-execution-plan
# must be a valid JSON string with following structure. Converting it to
# standard YAML or breaking the JSON syntax will break the application
# bootstrapping logic and the server will not be started.
hooks:
  host-execution-plan: >
    {
      "endpoints": {
        "/openrtb2/auction": {
          "stages": {
            "entrypoint": {
              "groups": [
                {
                  "timeout": 500,
                  "hook-sequence": [
                    {
                      "module-code": "improvedigital-custom-vast-hooks-module",
                      "hook-impl-code": "improvedigital-custom-vast-hooks-entrypoint"
                    }
                  ]
                },
                {
                  "timeout": 50,
                  "hook-sequence": [
                    {
                      "module-code": "improvedigital-custom-tracker-hooks-module",
                      "hook-impl-code": "improvedigital-custom-tracker-hooks-entrypoint"
                    }
                  ]
                }
              ]
            },
            "processed-auction-request": {
              "groups": [
                {
                  "timeout": 5,
                  "hook-sequence": [
                    {
                      "module-code": "improvedigital-custom-vast-hooks-module",
                      "hook-impl-code": "improvedigital-custom-vast-hooks-processed-auction-request"
                    },
                    {
                      "module-code": "improvedigital-supplychain-module",
                      "hook-impl-code": "improvedigital-supplychain-hooks-processed-auction-request"
                    }
                  ]
                },
                {
                  "timeout": 5,
                  "hook-sequence": [
                    {
                      "module-code": "improvedigital-custom-tracker-hooks-module",
                      "hook-impl-code": "improvedigital-custom-tracker-hooks-processed-auction-request"
                    }
                  ]
                }
              ]
            },
            "processed-bidder-response": {
              "groups": [
                {
                  "timeout": 5,
                  "hook-sequence": [
                    {
                      "module-code": "improvedigital-custom-tracker-hooks-module",
                      "hook-impl-code": "improvedigital-custom-tracker-hooks-processed-bidder-response"
                    }
                  ]
                }
              ]
            },
            "auction-response": {
              "groups": [
                {
                  "timeout": 5,
                  "hook-sequence": [
                    {
                      "module-code": "improvedigital-custom-vast-hooks-module",
                      "hook-impl-code": "improvedigital-custom-vast-hooks-auction-response"
                    }
                  ]
                }
              ]
            }
          }
        }
      }
    }

